#contact {
    margin: 145px 0 0;
    .contact_top {
        padding: 75px 0;
        .container {
            .row {
                .col-md-6 {
                    .contact_top_textCon {
                        width: 270px;
                        &_text {
                            font-size: 14px;
                        }
                    }
                    .contact_top_mail {
                        text-decoration: none;
                        font-size: 26px;
                        color: color(Black);
                    }
                }
            }
        }
    }
    .contact_middle {
        background-color: color(Grey);
        padding: 100px 0;
        .container {
            .row {
                .col-md-6 {
                    .contact_middle_textCon {
                        &_text {
                            font-size: 14px;
                        }
                    }
                    .contact_middle_socialCon {
                        &_social {
                            text-decoration: none;
                            font-size: 26px;
                            color: color(Black);
                            margin-right: 100px;
                        }
                    }
                }
            }
        }
    }
    .contact_bottom {
        padding: 75px 0;
        .container {
            .row {
                .col-md-6 {
                    .contact_bottom_textCon {
                        width: 270px;
                        &_text {
                            font-size: 14px;
                        }
                    }
                }
                .col-md-5 {
                    .contact_bottom_formCon {
                        @include flexPosition(flex-start, flex-start);
                        flex-direction: column;
                        width: 100%;
                        &_wrapper {
                            width: 100%;
                            position: relative;
                            input {
                                width: 100%;
                                padding: 10px;
                                font-size: 16px;
                                margin-bottom: 10px;
                                outline: none;
                                border: 1px solid color(Black);
                                &.valid {
                                    border-color: #34ec1c;
                                }
                                &.unvalid {
                                    border-color: #ec1c1c;
                                }
                            }
                            textarea {
                                width: 100%;
                                padding: 10px;
                                font-size: 16px;
                                margin-bottom: 10px;
                                outline: none;
                                border: 1px solid color(Black);
                                resize: none;
                                &.valid {
                                    border-color: #34ec1c;
                                }
                                &.unvalid {
                                    border-color: #ec1c1c;
                                }
                            }
                            img {
                                position: absolute;
                                width: 20px;
                                height: auto;
                                top: 12px;
                                right: 10px;
                            }
                        }
                        &_button {
                            cursor: pointer;
                            outline: none;
                            border: none;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}